html, body {
    height: 100%;
    margin: 0; 
    display: flex;
    flex-direction: column; 
  }

  app-root {
    display: block; 
    min-height: 100vh; 
  }

  /* Contêiner do formulário */
.form-container {
    display: flex;
    flex-direction: column; /* Coloca os itens em coluna */
    align-items: center; /* Alinha os itens no topo */
    justify-content: flex-start; /* Alinha no início verticalmente */
    height: 100%; /* Faz o contêiner ocupar toda a altura disponível */
    padding: 20px; /* Adiciona algum espaçamento ao redor do formulário */
    margin-top: 100px;
  }
  
  form {
    width: 60vw;         /* Formulário ocupa 60% da largura da tela */
    max-width: 600px;    /* Máximo de 600px de largura */
    min-width: 300px;    /* Largura mínima de 300px */
    height: 50vh;        /* Formulário ocupa 50% da altura da tela */
    padding: 20px;
    margin-top: 40px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 400px;
  }
  